@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      background: black;
      margin-bottom: 20px;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fitness Section */
.fitness{
  width: 100%;
  height: 685px;
  margin: 0 auto;
  border: 1px solid white;
  background-color: black;
  background: linear-gradient(180.00deg, rgb(17, 17, 20),rgba(119, 119, 119,119)100%);
  stroke: (255, 255, 255, 0.1);
}
.navbar{
  width: 90%;
  margin: 0 auto;
  display: flex;
  margin-top: 58px;
  justify-content: space-between;
  align-items: center;
}
.logo h3{
  font-size:36px;
  font-weight: 800;
  color: rgb(230, 83, 60);
  text-align: left;
  }
.nav-options{
width: 465px;
height: 46px;
padding: 4px;
box-sizing: border-box;
border:1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
display: flex;
justify-content: space-between;
align-items: center;
color: white;
padding-right: 25px;
}
.nav-options p{
font-size: 18px;
font-weight: 400;
line-height: 120%;
text-align: right;
}
.img{
  width: 100%;
  margin-right: 214px ;
  margin-left: 1100px;
}

.color{
  position: static;
box-sizing: border-box;
width: 100%;
height: 100%;
border-radius: 46px;
background: rgb(230, 83, 60);
padding: 8px 20px 8px 20px;
color: white;
}
.box-1 , .box-2{
  width: 193px;
  height: 98px;
  border:  1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: rgba(14, 14, 14, 0.1);
 backdrop-filter: blur(20px);
}
 .circle {
  justify-content: center;
  position:fixed;
  width: 40px;
  height: 40px;
  margin-bottom: 28px;
  margin-top: 28px;
  margin-left: 23px;
  margin-right: 146px;
  border-radius: 50%;
  background-color:  rgb(230, 83, 60) ;
}

.box-1{
  margin-top: -476px;
  margin-left: 1300px;
}
.box-2{
  width: 206px;
  height: 96px;
  margin-top: 200px;
  margin-left: 1000px;
}
.box-2 h3{
font-size: 24px;
font-weight: 900;
margin-top: 15px;
margin-left: 24px;
text-align: center;
color: white;
}
.box-2 p{
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
  margin-left:80px;
  margin-top: 8px;
}
.box-1 h3{
  font-size: 40px;
  font-weight: 900;
  line-height: 40px;
  color: white;
  margin-left: 24px;
  margin-top: 17px;
}
.box-1 p{
  font-size: 13px;
  color: rgba(255, 255, 255, 0.65);
  margin-left: 24px;
  margin-top: 10px;
}
.description{
width: 720px;
height: 440px;
color: white;
margin-top: -400px;
}

.description h3{
  font-size: 58px;
  font-weight: 900;
  line-height: 120%;
  margin-top: -100px;
  margin-left: 80px;
  text-align: left;
  margin-bottom: 28px;
}
.description p{
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
  margin-left: 80px;
  margin-bottom: 28px;
}
.btn-1{
  width: 224px;
  height: 54px;
  background-color: rgb(230, 83, 60);
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  margin-left: 80px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: white;
}
.btn-2{
  width: 224px;
  height: 54px;
  background-color: transparent;
  padding: 16px 40px 16px 40px;
  border-radius: 42px;
  margin-left: 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  border: 1px solid rgb(255,255,255);
  color: white;
}
.ham-burger{
display: none;
}
/* Habit section Styling */
.habits{
  width: 100%;
  background-color: black;
}
.habits-description h3{
  font-size: 48px;
  font-weight: 900;
  align-items: center;
  text-align: center;
  color: white;
  line-height: 120%;
margin-top: 100px;
}
.habits-description p{
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  align-items: center;
  margin-top: 14px;
}
.habits-img-container{
  width: 1044px;
  height: 274px;
 margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  margin-top: 58px;
}
.img-1 img , .img-2 img , .img-3 img , .img-4 img{
border-radius: 90%;
}

.title-1{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  align-items: center;
  margin-top: 20px;
  margin-left: 38px;
}
.title-2{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  align-items: center;
  margin-top: 20px;
  margin-left: 68px;
}
.title-3{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  align-items: center;
  margin-top: 20px;
  margin-left: 58px;
}
.title-4{
  color: white;
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  align-items: center;
  margin-top: 20px;
  margin-left: 48px;
}
.para{
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  align-items: center;
  text-align: center;
  margin-top: 10px;
}
/* Run-extra section styling */
.run-extra{
  width: 1060px;
  height: 371px;
  background-color: rgb(34, 34, 34);
  border-radius: 18px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;

}
.left-run-extra{
  width: 50%;
}
.left-run-extra h3{
  color: white;
  font-size: 48px;
  font-weight: 900;
  letter-spacing: 120%;
  text-align: left;
  align-items: left;
  margin-left: 55px;
  margin-top: 30px;
  margin-bottom: 15px;
}
.left-run-extra p{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
  margin-left: 55px;
}
.run{
  margin-left: 55px;
  margin-top: 34px;
}
.right-run-extra{
  width: 50%;
}
.right-run-extra img{
  width: 350px;
  height: 312px;
  border-radius: 18px;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 140px;
}
/* Responsive For Mobile Device */
@media screen and (max-width:576px){

}